.stage {
    display: flex;
    background-color:rgba(128, 128, 128, 0.705);
    width: 100%;
    justify-content: space-around;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.name-volume-block {
    justify-content: space-between;
    align-content: center;
    height: 10%;
    padding: 10px;
}

.user-name {
    text-align: center;
    display: block;
}

.volume-line {
    display: block;
    position: relative;
    width: 200px;
    height: 2px;
    background: red;
    border-radius: 3px;
}

.stage-avatar {
    width: 120px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}